body {
    background-color: #34eb6b;
}

.my-table{
    font-size: 18px;
    text-align: center;
    width: 100%;
    margin: auto;
}

.my-table tr:nth-child(odd){
    background: #B8CAE4;
}

.my-table tr:nth-child(even){
    background: #dae5f4;
}

.my-table th {
    background-color: #337ab7;
    color: white;
}

.display_table{
    border-bottom-right-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
    box-shadow: 12px 12px 20px 6px #2e6da4;
}