{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-md-10">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="">Items</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Items List</li>
            </ol>
        </nav>
    </div>

    <div class="col-md-2">
        <a href="{%url 'data_loader:add_item'%}" class="btn btn-primary">Add Item</a>
    </div> 
</div>

<div class="display_table">
    <table id="table1" class="table table-striped">
        <thead>
            <tr>
                <th>SN</th>
                <th>NAME</th>
                <th>CATEGORY</th>
                <th>ACCOUNT</th>
                <th>LOCATION</th>
                <th>USER</th>
                <th>STATUS</th>
                <th>TRELLO</th>
                <th>SUPPLIER</th>
                <th></th>
            </tr>
        </thead>
        {% for item in items %}
        <tr>
            <td>{{item.serial_number}}</td>
            <td>{{item.name}}</td>
            <td>{{item.category}}</td>
            <td>{{item.account}}</td>
            <td>{{item.location}}</td>
            <td>{{item.user}}</td>
            <td>{{item.status}}</td>
            <td>{{item.trello}}</td>
            <td>{{item.supplier}}</td>
            <td>
                <a class="btn btn-primary btn-sm" href="{% url 'data_loader:view_item' item.id %}">View</a>
                <a class="btn btn-secondary btn-sm" href="{% url 'data_loader:edit_item' item.id %}">Edit</a>
                <a class="btn btn-secondary btn-sm" href="{% url 'data_loader:view_qr' item.id %}">View QR</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function() {
        $('#table1').DataTable();
    });
</script>

{% endblock %}