{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-md-10">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="">Movements</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Movements List</li>
            </ol>
        </nav>
    </div>

    <!--<div class="col-md-2">
        <a href="" class="btn btn-disabled">Add Movement</a>
    </div> -->
</div>

<div class="display_table">
    <table id="table1" class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>ITEM</th>
                <th>SN</th>
                <th>LOCATION</th>
                <th>USER</th>
                <th>TYPE</th>
                <th>DATE</th>
                <th></th>
            </tr>
        </thead>
        
        {% for movement in movements %}
        <tr>
            <td>{{movement.pk}}</td>
            <td>{{movement.item}}</td>
            <td>
                <a href="{% url 'data_loader:view_item' movement.item.id %}">{{movement.item.serial_number}}</a>
            </td>
            <td>{{movement.location}}</td>
            <td>{{movement.user}}</td>
            <td>{{movement.movement_type}}</td>
            <td>{{movement.date}}</td>
            <td>
                <a class="btn btn-primary btn-sm" href="{% url 'data_loader:view_movement' movement.id %}">View</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function() {
        $('#table1').DataTable();
    });
</script>

{% endblock %}